In [7]:
import pandas as pd

CITIES = pd.read_csv("database_csv/cities.csv", names=["city_id", "city_name", "country_id"])
COUNTRIES = pd.read_csv("database_csv/countries.csv", names=["country_id", "country_name"])
PRODUCTS = pd.read_csv("database_csv/products.csv", names=["product_id", "product_name", "description", "store_id"])
STORE_CITY = pd.read_csv("database_csv/store_city.csv", names=["store_id", "store_city"])
STORES = pd.read_csv("database_csv/stores.csv", names=["store_id", "store_name", "website"])

In [8]:
''' Get all products '''
PRODUCTS

    product_id            product_name                 description  store_id
0            1      Gusanos espaciales                  4 unidades         9
1            2                Brownies                        500g         9
2            3                 Grinder             Tamaño personal         9
3            4                   Pipas                Monoplonicas         9
4            5                 Cerveza      Poker, Costeña, Aguila        10
5            6  Aguardiente Antioqueño                         NaN        10
6            7     Ron viejo de Caldas       Mejor que el Medellin        10
7            8    Aguardiente Amarillo                  De manzana        10
8            9               Chapinero                      Porter        11
9           10              Monserrate                       Biter        11
10          11                  Cajica                   Honey Ale        11
11          12                 Macondo                       Stout        11
12          13                 Chorizo  De procedencia desconocida        12
13          14                   Chuzo       De animal desconocido        12
14          15                   Pizza                        Rica        12

In [29]:
''' Get all cities from Colombia '''
query = pd.merge(CITIES, COUNTRIES, how="inner", on="country_id")
query[query["country_name"] == "Colombia"][["city_id", "city_name", "country_id"]]

   city_id  city_name  country_id
0       31    Pereira          41
1       32    Cartago          41
2       33  Manizales          41